.cart-container{
    margin-top: 150px;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-items{
    width: 70%;
    border-right: 1px solid lightblue;
    padding-right: 10px;
}
.cart-counter{
    width: 29%;
}


@media only screen and (max-width:768px){
    .cart-container{
        margin-top: 125px; 
        padding:  20px; 
        flex-wrap: wrap;
    }
    .cart-items{
        width: 50%;
        border-right: 1px solid lightblue;
        padding-right: 10px;
    }
    .cart-items h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cart-counter{
        width: 48%;
    }
}