.newslater{
    padding: 150px 50px;
    background-image: url("../../images/banner/newslaterp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}
.newsText{
    width: 50%;
    color: white;
}
.newsInput{
    width: 30%;
    text-align: right; 
}
.newsInput form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fBtn{
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width:768px){
    .newslater{
        flex-wrap: wrap;
        padding: 100px 20px;
    }
    .newsText {
        width: 100%; 
    }
    .newsInput {
        width: 100%;
        text-align: right;
        margin-top: 30px;
    }
    .newsInput form {
        display: block;
        align-items:  flex-start;
        justify-content:  flex-start;
    }
    .newsInput form input{
        margin-top: 10px;
    }
}