 

.product-container{
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pointer{
    cursor: pointer;
    border-radius: 4px;
    transition: .5s;
}
.pointer:hover{
    box-shadow: 3px 3px 10px gold;
}
 

@media only screen and (max-width:768px){
    .product-container{
        padding: 10px 20px; 
    }
}