.contact-page{
    margin-top: 60px;
}

.location-part{ 
    width: 55%;
    margin:100px auto;
}
.location-part h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightblue;

}
.location-part h5{
    margin-bottom: 30px;
    color: crimson;
    font-size: 25px;
}
.location-part ul li{
    margin-bottom: 15px;
    list-style:decimal-leading-zero;
    font-weight: bold;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0px 50px;
    margin-top: 200px;

}

.form-container{
    width: 45%;
}
 
.text-area{
    height: 150px;
}

.review-container{
    width: 45%;
}
.review{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review-img{
    width: 20%;
}
.review-img img{
    width: 100%;
}
.review-text{
    width: 75%;
}
.review-text p{
    font-size: 14px;
    font-style: italic;
    line-height: 1.7rem;
}
@media only screen and (max-width:768px){
    .location-part{
        width: 90%;
    }
    .form-container{
        width: 100%;
    }
     
    .text-area{
        height: 150px;
    }
    
    .review-container{
        width: 100%;
        margin-bottom: 70px;
    }
    .contact-info{ 
        padding: 0px 20px;
        margin-top: 100px;
    
    }
}